<?xml version="1.0" encoding="utf-8" ?>
<menus>
  <category categoryName="Main">
    <menu header ="Start Here..."
					page="/Pages/StartHere.xaml" />
  </category>
  <category categoryName="Properties">
    <menu header ="Overview"
					page="/Pages/Page1.xaml">
    </menu>
    <menu header ="Cursors"
             page="/Pages/CursorsPage.xaml" />
  
    <menu header ="Basic Tooltip"
         page="/Pages/TooltipBasicPage.xaml" />

    <menu header ="Basic Tooltip Ned"
     page="/Pages/TooltipBasicPage_N.xaml" />

    <menu header ="Enhanced Tooltip"
        page="/Pages/TooltipEnhancedPage.xaml" />
    
    <menu header ="Enhanced Tooltip Ned"
        page="/Pages/TooltipEnhancedPage_N.xaml" />
  </category>

  <category categoryName="Size Members">
    
    <menu header ="Size vs. Actual Size"
         page="/Pages/SizesPage.xaml">
    </menu>
    <menu header ="Size vs. Actual Size Ned"
     page="/Pages/SizesPage_N.xaml">
    </menu>
    <menu header ="Minimum and Maximum Size"
        page="/Pages/MinMaxPage.xaml">
    </menu>
    <menu header ="Minimum and Maximum Size Ned"
    page="/Pages/MinMaxPage_N.xaml">
    </menu>
    <menu header ="Alignment"
           page="/Pages/AlignmentPage.xaml" />
    <menu header ="Alignment Ned"
       page="/Pages/AlignmentPage_N.xaml" />
    <menu header ="Margin"
					page="/Pages/MarginPage.xaml" />
    
  </category>

</menus>